<!-- .resume -->
<div id="resume" class="content_2">
    <!-- .title -->
<h1 class="h-bloc">CV</h1>

<div class="row">

   <!-- .resume-right -->
    <div class="col-md-6">

        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Data Science</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->

        <div class="skills">

          <div class="skillbar clearfix" data-percent="90%">
              <div class="skillbar-title"><span>Data Engineering</span></div>
              <div class="skillbar-bar"></div>
              <div class="skill-bar-percent"></div>
          </div>
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="90%">
                <div class="skillbar-title"><span>Semantic Web & Ontologies</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent"></div>
            </div>

            <!-- /.skillbar -->
            <div class="skillbar clearfix" data-percent="80%">
                <div class="skillbar-title"><span>RestFul WebApp</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent"></div>
            </div>
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="90%">
                <div class="skillbar-title"><span>Machine Learning</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent"></div>
            </div>
            <!-- /.skillbar -->

            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="60%">
                <div class="skillbar-title"><span>Deep Learning</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent"></div>
            </div>
            <!-- /.skillbar -->

        </div>


        <!-- /.title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Cloud Services</div>
            <div class="clear"></div>
        </div>
        <div class="skills">
          <div class="skillbar clearfix" data-percent="70%">
              <div class="skillbar-title"><span>AWS</span></div>
              <div class="skillbar-bar"></div>
              <div class="skill-bar-percent"></div>
          </div>
          <!-- .skillbar -->
          <div class="skillbar clearfix" data-percent="60%">
              <div class="skillbar-title"><span>IBM Watson</span></div>
              <div class="skillbar-bar"></div>
              <div class="skill-bar-percent"></div>
          </div>
          <!-- /.skillbar -->

          <div class="skillbar clearfix" data-percent="60%">
              <div class="skillbar-title"><span>Google Cloud</span></div>
              <div class="skillbar-bar"></div>
              <div class="skill-bar-percent"></div>
          </div>

            <!-- /.skillbar -->
            <div class="title_content" style="float: none;">
                <div class="text_content">Frameworks and Libraries</div>
                <div class="clear"></div>
            </div>
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="90%">
                <div class="skillbar-title"><span>NodeJS</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent"></div>
            </div>
            <!-- /.skillbar -->
            <div class="skillbar clearfix" data-percent="80%">
                <div class="skillbar-title"><span>MQTT</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent"></div>
            </div>
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="70%">
                <div class="skillbar-title"><span>Domoticz</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent"></div>
            </div>

            <div class="skillbar clearfix" data-percent="70%">
                <div class="skillbar-title"><span>Ionic</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent"></div>
            </div>

            <div class="skillbar clearfix" data-percent="70%">
                <div class="skillbar-title"><span>Raspbian</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent"></div>
            </div>

            <!-- /.skillbar -->

             <!-- .skillbar -->

            <!-- /.skillbar -->
        </div>


        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Programming Skills</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->

        <div class="skills">
          <div class="skillbar clearfix" data-percent="90%">
              <div class="skillbar-title"><span>PoC Scripting</span></div>
              <div class="skillbar-bar"></div>
              <div class="skill-bar-percent"></div>
          </div>

          <div class="skillbar clearfix" data-percent="90%">
              <div class="skillbar-title"><span>Git</span></div>
              <div class="skillbar-bar"></div>
              <div class="skill-bar-percent"></div>
          </div>

          <div class="skillbar clearfix" data-percent="80%">
              <div class="skillbar-title"><span>Numpy</span></div>
              <div class="skillbar-bar"></div>
              <div class="skill-bar-percent"></div>
          </div>
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="80%">
                <div class="skillbar-title"><span>Pandas</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent"></div>
            </div>
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="90%">
                <div class="skillbar-title"><span>javaScript</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent"></div>
            </div>
            <!-- /.skillbar -->
            <div class="skillbar clearfix" data-percent="70%">
                <div class="skillbar-title"><span>Notation3</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent"></div>
            </div>
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="75%">
                <div class="skillbar-title"><span>Python</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent"></div>
            </div>
            <!-- /.skillbar -->
            <div class="skillbar clearfix" data-percent="50%">
                <div class="skillbar-title"><span>R</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent"></div>
            </div>
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="60%">
                <div class="skillbar-title"><span>Java</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent"></div>
            </div>
            <!-- /.skillbar -->

             <!-- .skillbar -->

            <!-- /.skillbar -->
        </div>


        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">IDE</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->

        <div class="skills">


            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="90%">
                <div class="skillbar-title"><span>Emacs</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent"></div>
            </div>
            <!-- /.skillbar -->
            <div class="skillbar clearfix " data-percent="75%">
                <div class="skillbar-title"><span>XCode</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent"></div>
            </div>
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="90%">
                <div class="skillbar-title"><span>Jupyter Notebook</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent"></div>
            </div>
            <!-- /.skillbar -->

            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="90%">
                <div class="skillbar-title"><span>Visual Code</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent"></div>
            </div>
            <!-- /.skillbar -->

            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="60%">
                <div class="skillbar-title"><span>Matlab</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent"></div>
            </div>
            <!-- /.skillbar -->
		</div>





        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Language Skills</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->

        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="100%">
                <div class="skillbar-title"><span>Spanish</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent"></div>
            </div>
            <!-- /.skillbar -->
            <div class="skillbar clearfix" data-percent="100%">
                <div class="skillbar-title"><span>Catalan</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent"></div>
            </div>
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="100%">
                <div class="skillbar-title"><span>French</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent"></div>
            </div>
            <!-- /.skillbar -->

            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="90%">
                <div class="skillbar-title"><span>English</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent"></div>
            </div>
            <!-- /.skillbar -->

            <!-- /.skillbar -->
        </div>


        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Daily Skills</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->

        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="95%">
                <div class="skillbar-title"><span>Sports</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent"></div>
            </div>
            <!-- /.skillbar -->

            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="100%">
                <div class="skillbar-title"><span>F.C. Barcelona</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent"></div>
            </div>
            <!-- /.skillbar -->

            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="100%">
                <div class="skillbar-title"><span>Social Life</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent"></div>
            </div>
            <!-- /.skillbar -->

            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="75%">
                <div class="skillbar-title"><span>Cinema</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent"></div>
            </div>
            <!-- /.skillbar -->

            <div class="skillbar clearfix " data-percent="100%">
                <div class="skillbar-title"><span>Other Cultures</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent"></div>
            </div>
        </div>

        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">My Resume</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->

        <!-- .download_resume -->
        <a class="download" style="margin:0;float: left;" href="#">
            <span data-hover="Download My Resume"><i class="glyphicon glyphicon-download-alt"></i> Download PDF</span>
        </a>
        <!-- /.download_resume -->

    </div>
     <!-- /.resume-right -->



     <!-- .resume-left -->
    <div class="col-md-6 resume-left">
        <!-- .title_content -->
        <div class="title_content" style="margin-bottom:5px">
            <div class="text_content">Experience</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->

        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                <h5>AI Consultant & Integration <span class="duration"><i class="fa fa-calendar color"></i>March 2018 - Today</span></h5>
                <h6><span class="fa fa-briefcase"></span> Accenture Digital Singapore</h6>
                <p>Artificial Intelligence consultant at Accenture Digital Singapore. In charge of defining, coordinating, developing and implementing AI solutions and digital transformation: NLP, Supervised & Unsupervised Learning, Data processing and exploitation, Human-Machine Interaction.</p>
            </li>
            <li class="first">
                <h5>AI External Consultant<span class="duration"><i class="fa fa-calendar color"></i>Jul 2016 - Today</span></h5>
                <h6><span class="fa fa-briefcase"></span>Pixium Digital Pte ltd., Singapore</h6>
                <p>Pixium Digital was founded in 2015 by Digital market experts and experienced developers with the goal of providing everyone with a customised digital solution: Mobile Development, Data Science, IoT, ML and Knowledge Aggregation.</p>
            </li>

            <li class="first">
                <h5>Research Scientist<span class="duration"><i class="fa fa-calendar color"></i>Jul 2014 - Nov 2017</span></h5>
                <h6><span class="fa fa-briefcase"></span>Image and Pervasive Access Lab (CNRS UMI), Singapore</h6>
                <p>Focusing on Semantic Reasoning, Data Mining, Human Condition Computation and Context-Aware Service Delivery in Ambient Assisted Living deployments for Ageing in Place.</p>
            </li>

          <li class="first">
                <h5>IT Auditor<span class="duration"><i class="fa fa-calendar color"></i>Nov 2013 - Apr 2014</span></h5>
                <h6><span class="fa fa-briefcase"></span>KPMG, Barcelona, Spain</h6>
                <p>Systems Auditor for annual audits in several multinational companies.</p>
            </li>
          <li class="first">
                <h5>Research Intern<span class="duration"><i class="fa fa-calendar color"></i>Mar 2013 - Sep 2013</span></h5>
                <h6><span class="fa fa-briefcase"></span>LIRMM, Montpellier, France</h6>
                <p>Intern at the Laboratoire d'Informatique, Robotique et Micro-Éléctronique de Montpellier. Master Thesis Internship in Medical Robotics.</p>
            </li>

            <li class="first">
                <h5>Fellow Intern<span class="duration"><i class="fa fa-calendar color"></i>Feb 2011 - Jan 2012</span></h5>
                <h6><span class="fa fa-briefcase"></span>Signal Theory and Communications Deptartment, Barcelona, Spain</h6>
                <p>In charge of Part of my responsibilities were the computer maintenance and support for all department staff.</p>
            </li>


        </ul>
        <!-- /.attributes -->
        <br>

        <div class="title_content">
            <div class="text_content">Certificates and Awards</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->

        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                <h5>Graphic &amp; Art Direction <span class="duration"><i class="fa fa-calendar color"></i> 2013 - 2014</span></h5>
                <h6><span class="fa fa-trophy"></span> Name of Institute</h6>
                <p>Emi Phasellus congue auctor risuspon, eget males. Pellentes que un imperdiet, odio quis orn sollicitud. Sed vitae lectus elementum mauris.</p>
            </li>
            <li class="first">
                <h5>Design &amp; Art Direction <span class="duration"><i class="fa fa-calendar color"></i> 2012 - 2013</span></h5>
                <h6><span class="fa fa-trophy"></span> Name of Institute</h6>
                <p>Emi Phasellus congue auctor risuspon, eget males. Pellentes que un imperdiet, odio quis orn sollicitud. Sed vitae lectus elementum mauris.</p>
            </li>

        </ul>

        <br>

        <!-- .title_content -->
        <div class="title_content">
            <div class="text_content">Education</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->

        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                <h5>PhD. Computer Science<span class="duration"><i class="fa fa-calendar color"></i>Jul 2014 - Nov 2017</span></h5>
                <h6><span class="fa fa-book"></span>Institut Mines-Télécom, University of Montpelier (CNRS UMI), France</h6>
                <p>Ph.D. Program in Computer Science, fully founded by Institut Mines-Telecom.</p>
            </li>
            <li class="first">
                <h5>ICT Health Specialisation<span class="duration"><i class="fa fa-calendar color"></i>Sep 2012 - Sep 2013</span></h5>
                <h6><span class="fa fa-book"></span>Institut Mines-Télécom, Université Montpellier, École des Mines d'Alès, Montpellier, France</h6>
                <p>Master Degree with Specialty in Information and Technology in the Health field.</p>
            </li>
            <li class="first">
                <h5>Telecommunications Eng.<span class="duration"><i class="fa fa-calendar color"></i>Feb 2012 - Sep 2013</span></h5>
                <h6><span class="fa fa-book"></span>ENS Telecom Bretagne, Brest, France</h6>
                <p>Double Master Degree program with TelecomBCN.</p>
            </li>
            <li class="first">
                <h5>Telecommunications Eng<span class="duration"><i class="fa fa-calendar color"></i>Sep 2005 - Jan 2012</span></h5>
                <h6><span class="fa fa-book"></span>TelecomBCN (ETSETB, UPC Barcelona Tech), Spain</h6>
                <p>Msc. in Telecommunications Engineering. Modules in Probability & Statistics, Data & Signal Processing, Telematics, Communications...</p>
            </li>
        </ul>
        <!-- /.attributes -->
        <br>


          <!-- .title_content -->

        <!-- /.attributes -->
        <br>

    </div>
    <!-- /.resume-left -->
</div>

<!-- <div style="clear: both"></div>


<div class="row">
<div class="col-md-12">

<div class="reference clearfix">
        <div class="title_content" style="margin-bottom:5px">
            <div class="text_content">Client reference</div>
            <div class="clear"></div>
        </div>


        <ul>
            <li class="clearfix">
                <img src="http://placehold.it/100x100" class="img_reference" width="100" height="100" alt="">
                <p>“Many desktop publishing packages and web page editors now use Lorem Ipsum as their default will model text, and a search for 'lorem ipsum' hope is uncover many web sites still”</p>
                <span>John Doe, UX Designer</span>
            </li>
            <li class="clearfix">
                <img src="http://placehold.it/100x100" class="img_reference" width="100" height="100" alt="">
                <p>“very nice colleague she always helped me out if i didnt know something editors now use Lorem Ipsum as their default”</p>
                <span>Leia Calvi, UX Designer</span>
            </li>
            <li class="clearfix">
                <img src="http://placehold.it/100x100" class="img_reference" width="100" height="100" alt="">
                <p>“old colleague and now close friend, she is really sweet and helpfull packages and web page editors now use Lorem Ipsum as their default will model text”</p>
                <span>Maria Callas, UX Designer</span>
            </li>
        </ul>
</div>
</div>


<div style="clear: both"></div> -->

</div>

</div>
<!-- End .resume -->
